.layout {
    min-height : 100vh;
}

.header {
    padding : 0 20px;
    height  : 65px;
}
.header-menu {
    height: 100%;
    background: #e4e4e4;
}
.header-menu-item {}

.content {
    padding : 24px
}

.sider {
    background: #e4e4e4;
}
