@import "base";
@import "vendor/bootstrap/utilities/spacing";
@import "compontents/fonts";
@import "compontents/transitions";
@import "compontents/util";
@import "compontents/colors";
@import "compontents/typography";
//
//@include foundation-prototype-classes();
//
//@include foundation-xy-grid-classes(
//    $base-grid: true,
//    $margin-grid: true,
//    $padding-grid: true,
//    $block-grid: true,
//    $collapse: true,
//    $offset: true,
//    $vertical-grid: true,
//    $frame-grid: true
//);


* {@include disable-mouse-outline;}


// Suppress the focus outline on elements that cannot be accessed via keyboard.
// This prevents an unwanted focus outline from appearing around elements that
// might still respond to pointer events.
//
// Credit: https://github.com/suitcss/base
[tabindex="-1"]:focus {
    outline: none !important;
}

/* remember to define focus styles! */
:focus {
    outline: 0 !important;
}
input::-moz-focus-inner {
    border: 0 !important;
}
a  {
    color: inherit;
    text-decoration: none;

    @include hover-focus {
        color: inherit;
        text-decoration: none;
    }

    &:focus {
        outline: 0 !important;
    }
}


.img-fluid {
    @include img-fluid;
}
