@import "../styles/base";

.Resizer {
    background              : #000000;
    opacity                 : .2;
    z-index                 : 1;
    -moz-box-sizing         : border-box;
    -webkit-box-sizing      : border-box;
    box-sizing              : border-box;
    -moz-background-clip    : padding;
    -webkit-background-clip : padding;
    background-clip         : padding-box;

    &:hover {
        -webkit-transition : all 2s ease;
        transition         : all 2s ease;
    }

    &.horizontal {
        height        : 11px;
        margin        : -5px 0;
        border-top    : 5px solid rgba(255, 255, 255, 0);
        border-bottom : 5px solid rgba(255, 255, 255, 0);
        cursor        : row-resize;
        width         : 100%;
    }

    &.horizontal:hover {
        border-top    : 5px solid rgba(0, 0, 0, 0.5);
        border-bottom : 5px solid rgba(0, 0, 0, 0.5);
    }

    &.vertical {
        width        : 11px;
        margin       : 0 -5px;
        border-left  : 5px solid rgba(255, 255, 255, 0);
        border-right : 5px solid rgba(255, 255, 255, 0);
        cursor       : col-resize;
    }

    &.vertical:hover {
        border-left  : 5px solid rgba(0, 0, 0, 0.5);
        border-right : 5px solid rgba(0, 0, 0, 0.5);
    }

    &.disabled {
        cursor : not-allowed;
    }

    &.disabled:hover {
        border-color : transparent;
    }
}


.ds-element-wrapper {
    border: 1px solid transparent;

    &.active,
    &:active,
    &:hover {
        border-color: #4e575b;
    }
}
