//@formatter:off
@primary-color               : #FF5722;
@layout-header-background    : #e4e4e4;
//@layout-footer-background    : #4d5c69;
@layout-sider-background     : #e4e4e4;
@layout-header-padding       : 0;
@menu-collapsed-width        : 40px;
@border-radius-base          : 0px;
@border-radius-sm            : 2px;

@menu-bg                     : #fefefe;
